<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084936199516-fsg73f0gnbvb1bk7op9sil8c5hmou0d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084936199516-fsg73f0gnbvb1bk7op9sil8c5hmou0d6</string>
	<key>API_KEY</key>
	<string>AIzaSyCNSp2Xpgu2nJ3yB_6p7ubOST_LpXtqnnE</string>
	<key>GCM_SENDER_ID</key>
	<string>1084936199516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.fashion-inspiration</string>
	<key>PROJECT_ID</key>
	<string>fashion-inspiration-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fashion-inspiration-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084936199516:ios:576d824bbc96f47ebef599</string>
	<key>DATABASE_URL</key>
	<string>https://fashion-inspiration-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>